@page "/"

@layout MainLayout

<h1>
    <img src="_content/BlazorApp.CommonUI/images/blazor-boilerplate-title.png" alt="Loading" title="Blazor App" style="max-width: 100%;"/>
</h1>

<h2>Welcome to your Blazor App</h2>