@page "/account/resetpassword"
@page "/account/resetpassword/{UserId}"

@layout LoginLayout
@inherits BlazorApp.CommonUI.PageModels.Account.ResetPasswordPageModel

<MatCard>
    <div class="logo">
        <img src="_content/BlazorApp.CommonUI/images/blazorboilerplate.svg" style="width: 100px;" alt="Blazor App"/>
        <br/>
        Blazor App
        <br/>
        <h4>Password Reset</h4>
    </div>
    <EditForm Model="@ResetPasswordParameters" OnValidSubmit="@SendResetPasswordAsync">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <fieldset>
            <div class="form-group">
                <MatTextField @bind-Value="@ResetPasswordParameters.Password" Label="Password" Icon="lock_outline"
                              IconTrailing="true" FullWidth="true" Required="true" Type="password">
                </MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@ResetPasswordParameters.PasswordConfirm" Label="Password Confirmation" Icon="lock_outline"
                              IconTrailing="true" FullWidth="true" Required="true" Type="password">
                </MatTextField>
            </div>
            <div class="form-group d-flex justify-content-end">
                <MatButton Type="submit" Raised="true">
                    Reset Password
                </MatButton>
            </div>
        </fieldset>
        <hr/>
        <NavLink href="/">
            <h6 class="font-weight-normal text-center">Cancel</h6>
        </NavLink>
    </EditForm>
</MatCard>